<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>TraineeDemo</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>MontBlanc-Trial-Black.otf</string>
		<string>MontBlanc-Trial-BlackItalic.otf</string>
		<string>MontBlanc-Trial-Bold.otf</string>
		<string>MontBlanc-Trial-BoldItalic.otf</string>
		<string>MontBlanc-Trial-ExtraBold.otf</string>
		<string>MontBlanc-Trial-ExtraBoldItalic.otf</string>
		<string>MontBlanc-Trial-ExtraLight.otf</string>
		<string>MontBlanc-Trial-ExtraLightItalic.otf</string>
		<string>MontBlanc-Trial-Light.otf</string>
		<string>MontBlanc-Trial-LightItalic.otf</string>
		<string>MontBlanc-Trial-Regular.otf</string>
		<string>MontBlanc-Trial-RegularItalic.otf</string>
		<string>MontBlanc-Trial-SemiBold.otf</string>
		<string>MontBlanc-Trial-SemiBoldItalic.otf</string>
		<string>MontBlanc-Trial-Thin.otf</string>
		<string>MontBlanc-Trial-ThinItalic.otf</string>
		<string>MontBlanc-Trial-Black.ttf</string>
		<string>MontBlanc-Trial-BlackItalic.ttf</string>
		<string>MontBlanc-Trial-Bold.ttf</string>
		<string>MontBlanc-Trial-BoldItalic.ttf</string>
		<string>MontBlanc-Trial-ExtraBold.ttf</string>
		<string>MontBlanc-Trial-ExtraBoldItalic.ttf</string>
		<string>MontBlanc-Trial-ExtraLight.ttf</string>
		<string>MontBlanc-Trial-ExtraLightItalic.ttf</string>
		<string>MontBlanc-Trial-Light.ttf</string>
		<string>MontBlanc-Trial-LightItalic.ttf</string>
		<string>MontBlanc-Trial-Regular.ttf</string>
		<string>MontBlanc-Trial-RegularItalic.ttf</string>
		<string>MontBlanc-Trial-SemiBold.ttf</string>
		<string>MontBlanc-Trial-SemiBoldItalic.ttf</string>
		<string>MontBlanc-Trial-Thin.ttf</string>
		<string>MontBlanc-Trial-ThinItalic.ttf</string>
	</array>
</dict>
</plist>
